.header__lang-link {
    line-height: 1.17;
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    transition: opacity .5s linear;
}

.header__lang-link:hover {
    opacity: .8;
}

.header__lang-link:active {
    text-decoration: underline;
}
/* It seems like I have to use JS to make the link stay active after selection */

@media screen and (max-width: 320px) {
    .header__lang-link {
        line-height: 1.11;
        font-size: 18px;
    }
}