.cover__subtitle {
    width: 320px;
    line-height: 1.22;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 510px) {
    .cover__subtitle {
        max-width: 288px;
        line-height: 1.14;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        text-align: center;
        display: block;
    }
    
    span.cover__subtitle {
        display: inline-block;
        white-space: nowrap;
    }
}

p.cover__subtitle {
    margin: 0;
}