.footer__link-container {
    margin: 0;
    display: flex;
    gap: 18px;
}

@media screen and (max-width: 450px) {
    .footer__link-container {
        flex-direction: column;
        gap: 32px;
    }
}
