.place__p-container {
    max-width: 484px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__p-container {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__p-container {
        max-width: 352px;
    }
}

@media screen and (max-width: 530px) {
    .place__p-container {
        max-width: calc(530px * .7);
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .place__p-container {
        max-width: 288px;
    }
}