.place__website_type_link {
    width: 100%;
    line-height: 1.22;
    font-size: 18px;
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    transition: opacity .5s linear;
}

.place__website_type_link:hover {
    opacity: .8;
}