.place {
    max-width: 984px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 80px;
}

.place:nth-child(5n + 5) {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        margin: 0 0 72px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        margin: 0 0 48px;
    }
}